/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  background-color: black;
}
.mainbg {
  height: 100vh;
  /* width: 185vh; */
  background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left;

}
iframe{
  display: block;
  margin: 0 auto;
  height: 1000px;
  width: 1700px;
}
h1,h2,h3{
  color: white;
  font-family: "source sans pro";
}
input, button{
  font-family: "source sans pro";
}
h3 {
  width: 100vh;
}
[data-position="header"] {
  grid-area: header;
}

[data-position="app"] {
  grid-area: app;
}

[data-position] {
  background-color: rgba(0,0,0,0.2);
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  width: fit-content;
}




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hidden{
  display: none;
}
