/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  background-color: black;
  /* background-image: url(`https://api.nasa.gov/planetary/apod?api_key=7y487BbWNTzuiBjpVnkQhVpWWby80Xg7PSDQUg5e&date=${choice}`); */
}
img{
  display: inline-block;
  margin: 0 auto;
  width: 100%; 
  height: auto; 
  border-radius: 50%;
  overflow: hidden;
}
iframe{
  display: block;
  margin: 0 auto;
  height: 1000px;
  width: 1700px;
}
h1,h2,h3{
  color: white;
}
/* .image{
  width: 100px;
  height: 100px;
  background-color: black;
  background-size: cover;
} */



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hidden{
  display: none;
}